#purple
    .minibox
        width: 150px
        height: 150px
        background-color: #d285cc
        color: #ffffff
        margin: 10px
        padding: 10px
    .box2
        position: absolute
        top: 470px
        left: 480px
        